* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    gap: 10px;
    height: 100%;
    width: 100%;
}

nav {
    background-color: rgb(201, 152, 160);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.linksContainer {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
}

a:hover {
    color: white;
}

header {
    background-color: rgb(167, 138, 152);
    height: calc(100vh - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainContainer {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.profilePictureContainer {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#profilePicture {
    height: 100%;
    width: 100%;
}


section {
    background-color: white;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aboutMe {
    background-color: rgb(236, 226, 233);
    height: 50vh;
    padding: 30px;
    gap: 30px;
}

.mainButton {
    background-color: rgb(233, 50, 75);
    font-family: monospace;
    height: 80px;
    width: 150px;
    border: 10px;
    border-radius: 50%;
}

.button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    background-color: white;
}

.educationContainer {
    background-color: white;
    height: 50vh;
    width: 100%;
    gap: 30px;
    padding: 20px;
    display: flex;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100px;
    width: 100vw;
    padding: 0px 20px;
}

.cards {
    background-color: rgb(167, 138, 152);
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}




.proyects {
    background-color: gray;
}

.getInTouch {
    background-color: skyblue;
}






img {
    width: 20px;
}